// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.video-image > a > img {
    width: 200px;
    height: 200px;
}

.video-thumbnail > a > img {
    width: 180px;
    height: 100px;
}
